body {
    background-color: rgba(182, 125, 60, 0.945);
    padding-left: 5em;
    font-family: Georgia, "Times New Roman",
        Times, serif;
    color: black;
    font-size: 14;
}
table {
    width: 100%;
    text-align: center;
}

dl {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    font-size: 12;
    color: rgb(110, 0, 153);
    text-align: center;
}

dt {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

dd {
    margin: 0;
    padding: 0 0 0.5em 0;
}

dl {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: blue;
    font-size: 10;
}


div.container {
    text-align: center;
}

ul.circulo {
    list-style-type: circle;
    padding-left: 40px;
    text-align: center;
    display: inline-block;
}

p1 { 
	width: 800px; margin: 0 auto; 
	display:block;
}

p {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: black;
    font-size: 12;
    font-weight: bold;
}


h1 {
    color: rgb(128, 0, 96);
    font-size: 15;
    text-align: center;
    text-decoration: none;
}

h2 {
    #color: rgb(128, 0, 96);
	color: rgb(255, 255, 255);
    font-size: 15;
    text-align: center;
}

h3 {
    color: rgb(118, 68, 138);
    font-size: 15;
    text-align: center;
    text-decoration: underline;
}


h4 {
    color: black;
    font-size: 10;
    text-align: left;
}

h1:link {
    color: rgb(0, 29, 110);
    text-decoration: none;
}

h1:visited {
    color: rgb(1, 1, 41);
    text-decoration: none;
}

h1:hover {
    color: rgb(111, 168, 5);
    text-decoration: none;
}

h1:active {
    color: rgb(209, 9, 9);
    text-decoration: none;
}
.cabeceraPc { 
	color: rgb(0, 0, 0); 
}
button {
    color:blueviolet
}